/*
 *		js-collapse-unordered-list-0.css
 */

ul:has( [cbc]) ,
ul:has( [cbc]) ul {
	/* controller icon space and indentation */
	padding-left : 20px ;  
	list-style-type : none ;
	}
ul:has(>[cbc]) > li::before {
	width : 20px ;
	margin-left : -20px ;
	background-position : left center ;
	background-size : 0.9em ;
	}

	/* Container height transitions */

li[cbc] > ul {
	transition : height linear 1s ;
	}
li[cbc="expanded"] > ul {
	height : auto ;
	}
li[cbc="collapsing"] > ul {
	height : 0px ;
	overflow : hidden ;
	}
li[cbc="collapsed"] > ul {
	height : 0px ;
	overflow : hidden ;
	}
li[cbc="expanding"] > ul {
	height : auto ;
	overflow : hidden ;
	}

	/* Dynamic vertical spacing */

[vertical-spacing="dynamic"] li[cbc] {
	transition : margin-top, margin-bottom linear, linear 1s, 1s ;
	}
[vertical-spacing="dynamic"] li[cbc="expanding"] , 
[vertical-spacing="dynamic"] li[cbc="expanded"] {
	margin-top : 10px ;
	margin-bottom : 10px ;
	}
