/*
 *		js-collapse-unordered-list-0.css
 */

ul.collapsible {
	padding-left : 0px ;	/* Root level should not be idented */
	line-height : 160% ;
	}

ul.collapsible ul {
	padding-left : 15px;	/* Levels below root must be indented */
	}

ul.collapsible li {
	list-style-type : none ;
	}

	/* All list elements must have the same spacing properties, including non-collapsible elements */
ul.collapsible li::before {
	width : 0.9em ;
	margin-right: 10px ;
	background-position : center center ;
	background-size : 100% ;
	}
li[cbc] > ul {
	transition : height linear 1s ;
	}
li[cbc="expanded"] > ul {
	height : auto ;
	}
li[cbc="collapsing"] > ul {
	height : 0px ;
	overflow : hidden ;
	}
li[cbc="collapsed"] > ul {
	height : 0px ;
	overflow : hidden ;
	}
li[cbc="expanding"] > ul {
	height : auto ;
	overflow : hidden ;
	}
/* Dynamic vertical spacing */
[vertical-spacing="dynamic"] li[cbc] {
	transition : margin-top, margin-bottom linear, linear 1s, 1s ;
	}
[vertical-spacing="dynamic"] li[cbc="expanding"] , 
[vertical-spacing="dynamic"] li[cbc="expanded"] {
	margin-top : 10px ;
	margin-bottom : 10px ;
	}
