/*
 *		js-collapse-0.css		2023-09-15	usp
 */

	/* common icon container properties for collapsible chapters */
h1[cbc]::before, 
h2[cbc]::before, 
h3[cbc]::before, 
h4[cbc]::before, 
h5[cbc]::before {
	width : 27px ;
	margin-right: 10px ;
	}

	/* define icon size for each heading level */
h1[cbc]::before { background-size : 27px ; }
h2[cbc]::before { background-size : 22px ; }
h3[cbc]::before { background-size : 18px ; }
h4[cbc]::before { background-size : 15px ; }
h5[cbc]::before { background-size : 15px ; }
	
	/* let heading icons stick a little bit out to the left */
h1[cbc], h2[cbc], h3[cbc], h4[cbc], h5[cbc] {
	margin-left : -15px ;
	}

