/*
 *		js-collapse-dl-0.css
 */

dl.collapsible dt {
	margin-left : 1.5em ;
	}
dl.collapsible dt::before {
	width : 1.5em ;
	margin-left : -1.5em ;
	background-position : left center ;
	background-size : 60% ;
	}
dl.collapsible dd {
	margin-left : 10px ;
	}
dl.collapsible dt[cbc="collapsed"]+dd {
	height : 0px ;
	overflow-y : hidden ;
	}
dl.collapsible dd[height="0px"]+dd {
	/* does not work */
	height : 0px ;
	overflow-y : hidden ;
	}
dl.collapsible dt[cbc="expanded"]:not(:first-child) {
	margin-top : 20px ;
	}
dl.collapsible dt[cbc="expanded"] {
	margin-bottom : 20px ;
	}


