/*
 *		js-collapse-0.css		2023-09-15	usp
 */

	/* common icon container properties for collapsible chapters */
h1[cbc]::before, 
h2[cbc]::before, 
h3[cbc]::before, 
h4[cbc]::before, 
h5[cbc]::before {
	width : 27px ;
	margin-right: 10px ;
	background-position : center center ;
	}
h1[cbc]::before {	background-size : 27px }
h2[cbc]::before {	background-size : 25px }
h3[cbc]::before {	background-size : 22px }
h4[cbc]::before {	
	background-size : 20px ; 
	line-height : 20px ;
	}
h5[cbc]::before {	
	background-size : 18px ; 
	line-height : 18px ;
	}
[cbc="expanded"] + div {
	height : auto ;
	}
[cbc="collapsing"] + div {
	height : 0px ;
	overflow : hidden ;
	}
[cbc="collapsed"] + div {
	height : 0px ;
	overflow : hidden ;
	}
[cbc="expanding"] + div {
	height : auto ;
	overflow : hidden ;
	}
[cbc]:has(+div) {
	margin-left : -20px ;
	}
[cbc] + div {
	padding-left : 20px ;
	margin-left : -20px ;
	transition : height linear 1s;
		/* WORKAROUND for jumping content bug */
	border-top  : 1px solid transparent;
	border-bottom  : 1px solid transparent;
	}

	/* dynamic vertical spacing */
[cbc]:has(+div) { 
	transition : margin-top,margin-bottom linear,linear  1s,1s;
	}
[cbc="collapsed"]:has(+div+[cbc="collapsing"]) ,
[cbc="collapsing"]:has(+div+[cbc="collapsed"]) ,
[cbc="collapsed"]:has(+div+[cbc="collapsed"]) {
	margin-bottom : 0px ;
	}
[cbc="collapsed"]+div+[cbc="collapsing"] ,
[cbc="collapsing"]+div+[cbc="collapsed"] ,
[cbc="collapsed"]+div+[cbc="collapsed"] {
	margin-top : 0px ;
	}
