/*
 *		js-collapse-0.css		2023-09-15	usp
 */

	/* element-type specific rules */
@import url( js-collapse-div-0.css ) ;
@import url( js-collapse-ul-0.css ) ;
@import url( js-collapse-ol-0.css ) ;
@import url( js-collapse-dd-0.css ) ;

dl.collapsible dt::before,
ol.collapsible li::before,
ul.collapsible li::before,
[cbc]::before {
	content : "\00A0"  ;  /* non-breaking space */
	display : inline-block ;
	background-repeat : no-repeat ;
	}

[cbc="collapsing"]::before ,
[cbc="collapsed"]::before { 
	background-image : url(orange-plus.svg) 
	}
[cbc="expanding"]::before ,
[cbc="expanded"]::before { 
	background-image : url(orange-minus.svg) 
	}
