/*
 *		js-collapse-unordered-list-0.css
 */

ol:has(>[cbc]) {
	padding-left : 45px ;	/* Indentation space for controller icon and item number */
	}
ol:has(>[cbc]) > li::before {
	/* Same spacing for all collapsible list items */
	width : 45px ;
	margin-left : -45px ;
	margin-right: 0px ;
	background-position : left center ;
	background-size : 0.9em ;
	}
ol.collapsible > li > ol ,
.collapsible ol > li > ol , 
ol.collapsible > li > ul , 
.collapsible ol > li > ul { 
	margin-left : -25px ;  /* same indentation result as UL items */
	}

	/* Container height transition */

li[cbc] > ol {
	transition : height linear 1s ;
	}
li[cbc="expanded"] > ol {
	height : auto ;
	}
li[cbc="collapsing"] > ol {
	height : 0px ;
	overflow : hidden ;
	}
li[cbc="collapsed"] > ol {
	height : 0px ;
	overflow : hidden ;
	}
li[cbc="expanding"] > ol {
	height : auto ;
	overflow : hidden ;
	}

	/* Dynamic vertical spacing */

[vertical-spacing="dynamic"] li[cbc] {
	transition : margin-top, margin-bottom linear, linear 1s, 1s ;
	}
[vertical-spacing="dynamic"] li[cbc="expanding"] , 
[vertical-spacing="dynamic"] li[cbc="expanded"] {
	margin-top : 10px ;
	margin-bottom : 10px ;
	}
